@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inconsolata:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

:root{
    --text-primary: #FFFFFF;
    --font-heading: 'Inconsolata';
    --font-default: 'Inconsolata';
    --fonte-conteudo1: #8572FF;
    --fonte-conteudo2: #D20097;
}

html{
    font-size: 62.5%;
}

.barra_superior{
    background-color: #1F2229;
    width: auto;
    height: 1.75rem;
    border-bottom: 1px solid #191C22 ;
}

.barra_icones{
    background-color: #24282E;
    width: 3rem;
    height:100% scalc(100vh - 1.75rem); 
}

.barra_portifolio{
    background-color: #1D2026;
    width: 15%;
    height:auto calc(100vh - 1.75rem);
    padding-right: 9.375rem;
}

.workspace{
    background-color: #20252B;
    height:calc(100vh - 1.75rem);
    width: 100%;
}

.workspace_header{
    background-color: #1F2229;
    height: 2.25rem;
}

.workspace_content{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.titulo{
    margin-top: 35vh;
    margin-left: 1.25rem;

}

.h1_titulo{
    font-size: 400%;
    font-family: 'Inconsolata';
    font-weight: 800;
    color: var(--text-primary);
    
}

.span_sub_titulo{
    font-size: 200%;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--text-primary); 
}

.icone{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.75rem;
}

.icone_logo{
    width: 1.375rem;
    height: 1.375rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
}

.span_barra_sup{
    font-size: 1rem;
    font-family: 'Inconsolata';
    color: #FFFFFF;
    margin-top: 0.25rem;
    margin-left: 1.375rem;
    margin-bottom: 0.563rem;
    margin-right: 0.563rem;
}

.portifolio{
    font-size: 135%;
    font-weight: 800;
    color: #FFFFFF;
    font-family: 'Inconsolata';
    padding-left: 0.125rem;
    padding-top: 0.375rem;
    height: 1.25rem;
}

.portifolio_img {
    width: 1.125rem;
    height: 3.75rem;
    margin-top: -0.688rem;
    margin-left: 0.5rem;
}


.espaco_botao{
    margin-left:-6.6rem;
    margin-top: 2.8rem;
    font-size: 1.22rem;
}


.style_botao{
    margin-top: 0.5rem;
    position: relative;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
}

.icone_botao{
    width: 1.625rem;
    height: 1.5rem;
    color: #FFFFFF;
    margin-right: 5px;
}

.escrita_botao{
    color: #FFFFFF;
    border-left: 0.313rem;
}

.span_conteudo{
    color: #09B78D;
    font-size:120%;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
}

.conteudo_1 {
    color: var(--fonte-conteudo1);
    font-size: 120%;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
}

.conteudo_2 {
    color: var(--fonte-conteudo2);
    font-size: 120%;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
}

.imagens_conteudo{
    width: 40%;
    max-width: 250px;
    margin-left: 20vw;
    margin-right: auto;
}


